* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f6fa;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #46c0f9;
    color: white;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    margin-right: 10px;
  }
  
  nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  
  .auth-links a {
    margin-left: 15px;
    color: white;
  }
  
  .signup-btn {
    background-color: white;
    color: #48cbff;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .intro-section {
    text-align: center;
    margin-top: 50px;
  }
  
  .intro-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .intro-section p {
    font-size: 1.2em;
    color: #666;
  }
  
  .upload-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .upload-box input {
    margin-right: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .upload-box button {
    padding: 10px 20px;
    background-color: #46c0f9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-box button:hover {
    background-color: #46c0f9;
  }
  
  .output-section {
    margin-top: 50px;
    text-align: center;
  }
  
  #results {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    overflow-y: auto;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #43b5fc;
    color: white;
    margin-top: 50px;
  }
  
  footer ul {
    list-style-type: none;
    display: inline;
  }
  
  footer ul li {
    display: inline;
    margin: 0 10px;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
  }
  